body {
    background-color: #000000;
    color: #808080;
}

main {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.login {
    margin-right: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

input, label, button {
    margin-top: 10px;
}

input {
    outline: none;
    padding: 5px;
    margin: 5px;
}

button {
    width: 100px;
    padding: 5px;
}
